.test {
    background-color: red;
}

.hidden {
    display: none;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
body {
    margin: 0;
    padding: 0;
}